
.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

.direction {
    font-family: Times New Roman, serif;
    font-size: 14px;
    color: black;
    background-color: lightseagreen
}


.direction:hover {
    background-color: skyblue; 
    color: white; 
}


.fedya {
    font-size: 14px; 
    font-weight: bold; 
    color: teal
}

.nazarovna {
    font-size: 14px; 
    font-weight: bold; 
    color: red
}

.savva {
    font-size: 14px; 
    font-weight: bold; 
    color: #800080; 
}

.tihon {
    font-size: 14px; 
    font-weight: bold; 
    color: blue
}

.bortsov {
    font-size: 14px; 
    font-weight: bold; 
    color: brown  ; 
}



.character-table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid greenyellow;
}

.character-table th, 
.character-table td {
    border: 1px solid blue;
    padding: 8px;
    text-align: left;
}

.character-table th {
    background-color: pink;
    color: #333;
}

.character-table tbody tr:nth-child(even) {
    background-color: white;
}

.character-table tbody tr:hover {
    background-color: skyblue;
}

h6:hover {
    text-shadow: 2px 2px 4px rgba(246, 11, 11, 0.5);
    border: 1px solid rgba(31, 10, 188, 0.5);
}

/* CSS combinator uses space here...
     We select any anchor that is a descendant of
     an appropriate ul used as a navbar.
     */
     .btn{
        background-color: DodgerBlue; /* Blue background */
        border: none; /* Remove borders */
        color: white; /* White text */
        padding: 12px 16px; /* Some padding */
        font-size: 16px;
    }
     ul.navbar-vertical {
        /* remove these */
        list-style-type: none;
        margin: 0;
        padding: 0;
       
        width:70px;
        background-color:red;
      }
     
      ul.navbar-vertical a {
        display: block; 
        color:#000;
      }
      /* on hover change the link color*/
      ul.navbar-vertical a:hover {  
        background-color: #555;
        color:white;
      }
     
      ul.navbar-horizontal {
        list-style-type: none;
        margin: 0;
        padding: 0;
     
      }
     
      ul.navbar-horizontal li {
        float:left;
        color:#000;
        background-color:skyblue;
      }
     
      ul.navbar-horizontal a {
        display:block;
        padding:8px
      }
     
      /* on hover change the link color*/
      ul.navbar-horizontal a:hover {  
        background-color: #555;
        color:white;
      }
